<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reconhecedor de Gramática</title>
    <link rel="stylesheet" href="{% static 'web/css/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/icon.png' %}"/>
    <script type="text/javascript" src="{% static 'web/js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-3.4.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>

</head>
<body>
<div>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Sobre</h4>
                    <p class="text-white-50">Trabalho desenvolvido para a discipla de Linguagens Formais da UNISC <br>Profa.
                        Dra. Andréa Aparecida Konzen</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Desenvolvido por</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">- Mateus Elias Gündel</a></li>
                        <li><a href="#" class="text-white">- Thales Eduardo Müller</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/home" class="navbar-brand d-flex align-items-center">
                <strong>Manipulador de Gramáticas </strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <form action="/home/" method="POST">
                    {#                    {% csrf_token %}#}
                    <div class="offset-lg-1 col-lg-10">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold text-black-50">Entradas</h5>
                            </div>

                            <div class="card-body">
                                <div class="form-group">
                                    <label>Gramática</label><br>
                                    <span>G = ({</span>
                                    <input type="text" id="gramatica-1" placeholder="S, A, B" pattern="/[A-Z, ]/g">
                                    <span>}, {</span>
                                    <input type="text" id="gramatica-2" placeholder="a, b, c" pattern="[a-z,]">
                                    <span>}, P, S)</span>
                                </div>
                                <div class="form-group">
                                    <label>Produções</label><br>
                                    <ul id="producao"></ul>
                                    <div>
                                        <input id="esquerda_prod" type="text" placeholder="S">
                                        <span>=</span>
                                        <input id="direita_prod" type="text" placeholder="Sa|Sb|S">
                                        <button type="button" onclick="addItem()">+</button>
                                    </div>
                                </div>
                                <input type="button" value="Verificar" onclick="create_post()">
                            </div>
                        </div>

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h5 class="m-0 font-weight-bold text-black-50">Resultado</h5>
                            </div>
                            <div class="card-body">
                                The styling for this basic card example is created by using default Bootstrap utility
                                classes. By using utility classes, the style of the card component can be easily
                                modified
                                with no need for any custom CSS!
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Mateus Elias Gündel e Thales Eduardo Müller 2019</span>
            </div>
        </div>
    </footer>
</div>
</body>
</html>